aiohttp==3.7.4
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
idna==2.10
multidict==5.1.0
python-dotenv==0.19.2
python-telegram-bot==13.7
sciunit==0.2.1
yarl==1.6.3

#Install this for it to work
pip install python-telegram-bot aiohttp python-dotenv sciunit
